{% extends 'trainer/base.html' %}
{% load static %}

{% block body %}
<div class="container">
  <div class="middle-section">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="sign-up-container">
          <h3>Congratulations!! Your account has been Created!!</h3>
          <form method="get" action="{% url 'trainer:listing' %}">
              {% csrf_token %}
                <div class="text-center">
                  <button class="btn btn-message m-t-lg" type="submit">
                    Get Started
                  </button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
