{% extends 'trainer/base.html' %}
{% load static %}


{% block body %}
<div class="container">
    <div class="row">
        <!------------------------Left Sidebar-------------------->
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 sticky">
            <div class="left-panel">

                <div class="upper-user-details">
                    <div class="main-pic" style="background-image: url({{profile.photo.url}});"></div>
                </div>
                <div class="skill-table">
                    <table class="table table-default">
                        <thead>
                        <tr>
                            <th>SKILLS</th>
                            <th class="text-right">
                                <small>(Hrs of Training given)</small>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for skill in detail_skill %}
                        <tr>
                            <td class="skill">{{skill.title}}</td>
                            <td class="text-right"><label class="label label-primary label-corp">{{skill.hours}} hrs</label></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right more-skills">
                        <a href="" data-toggle="modal" data-target="#allSkills">+ 24 Skills</a>
                    </div>
                </div>

            </div>
        </div>

        <!------------------------Mid Section-------------------->
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div class="middle-section">
                <div class="ratings pull-right">
                    <h5>RATINGS</h5>
                    <ul class="star-container" type="none">
                        <li><i class="icon-star star-filled"></i></li>
                        <li><i class="icon-star star-filled"></i></li>
                        <li><i class="icon-star star-filled"></i></li>
                        <li><i class="icon-star star-filled"></i></li>
                        <li><i class="icon-star"></i></li>
                    </ul>
                </div>
                <div class="heading-text">
                    <h3>{{profile.user.first_name}} {{profile.user.last_name}}
                        <small><i
                                class="icon-person_pin_circle"></i>
                            {{profile.country}}
                        </small>
                    </h3>
                    <h5>Corporate Trainer</h5>
                </div>
                <button class="btn btn-message" data-toggle="modal" data-target="#message-modal">
                    <i class="icon-chat_bubble"></i>&nbsp; Send Message
                </button>
            </div>

            <div class="tab-section">
                <ul class="nav nav-tabs flat-tabs">
                    <li class="active"><a data-toggle="tab" href="#timeline"><i class="icon-visibility"></i> Timeline</a></li>
                    <!--<li><a data-toggle="tab" href="#trainings"><i class="icon-insert_invitation"></i> Scheduled Trainings</a></li>-->
                    <li><a data-toggle="tab" href="#work"><i class="icon-card_travel"></i> Work Experience</a></li>
                    <li><a data-toggle="tab" href="#about"><i class="icon-person"></i> About</a></li>
                </ul>

                <!----------Timeline------------------------->
                <div class="tab-content">
                    <div id="timeline" class="tab-pane fade in active">
                        <div class="info-sections">
                            <h4>RECENT TRAININGS</h4>
                            <div class="row">
                                {% for tl in detail_timeline %}
                                <div class="timeline-centered">
                                    <article class="timeline-entry">

                                        <div class="timeline-entry-inner">
                                            <div class="timeline-time"><span>{{tl.from_date}}</span></div>

                                            <div class="timeline-icon">
                                            </div>

                                            <div class="timeline-label">
                                                <div class="company-logo" style="background-image: url(img/freestone.png);">
                                                </div>
                                                <div class="timeline-table-container">
                                                    <table class="table table-default table-timeline">
                                                        <caption>{{tl.organization}}</caption>
                                                        <tbody>
                                                        <tr>
                                                            <td class="label-table">Duration:</td>
                                                            <td>{{tl.hours}} Hour(s)</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="label-table">Attendants:</td>
                                                            <td>{{tl.trainee_cnt}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="label-table">Technologies:</td>
                                                            <td>{{tl.technology}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!----------Trainings------------------------->
                    <div id="trainings" class="tab-pane fade">
                        <h3>Calender will appear here</h3>
                    </div>

                    <!----------Work Experience------------------------->
                    <div id="work" class="tab-pane fade">
                        <div class="info-sections">
                            <h4>WORK EXPERIENCE</h4>
                            {% for ex in detail_experience %}
                            <div class="work-container">
                                <h5>{{ex.organization}}</h5>
                                <small>{{ex.from_month}} {{ex.from_year}} - {{ex.to_month}} {{ex.to_year}}</small>
                                <p>{{ex.desc}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!----------About------------------------->
                    <div id="about" class="tab-pane fade">
                        <div class="info-sections">
                            <h4>CONTACT INFORMATION</h4>
                            <table class="table table-default table-borderless">
                                <tbody>
                                <tr>
                                    <td class="label-table">Email:</td>
                                    <td><a>{{profile.email}}</a></td>
                                </tr>
                                <tr>
                                    <td class="label-table">Phone:</td>
                                    <td><a>{{profile.phone}}</a></td>
                                </tr>
                                <tr>
                                    <td class="label-table">Availability:</td>
                                    <td>{{profile.avail}}</td>
                                </tr>
                                <tr>
                                    <td class="label-table">Website:</td>
                                    <td><a>{{profile.website}}</a></td>
                                </tr>
                                <tr>
                                    <td class="label-table">Address:</td>
                                    <td>{{profile.address}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="info-sections">
                            <h4>PERSONAL INFORMATION</h4>
                            <table class="table table-default table-borderless">
                                <tbody>
                                <tr>
                                    <td class="label-table">Birthday:</td>
                                    <td>{{profile.birth_date}}</td>
                                </tr>
                                <tr>
                                    <td class="label-table">Gender:</td>
                                    <td>{{profile.gender}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% include 'trainer/send_message.html' %}
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}
