{% load static %}
<title>Train Our Staff</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{% static 'trainer/img/TOS_favicon.ico' %}">
<link rel="stylesheet" href="{% static 'trainer/css/bootstrap.min.css' %}">
{% if request.path != "/trainer/" %}
    <link rel="stylesheet" href="{% static 'trainer/css/corporate.css' %}">
{% endif %}
<link rel="stylesheet" href="{% static 'trainer/css/landing.css' %}">
<link rel="stylesheet" href="{% static 'trainer/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style type="text/css">
    .message-heading{
      background-color: #fff !important;
    padding: 18px 24px;
    border-top: 1px solid #e0e0e0;
    }
    .message-heading.unread{
      background-color: #e4e4e4 !important;
    }
    .message-time{
    	font-size: 12px;
    	color: #333;
    }
    .message-heading h5 {
    color: #02715b;
    font-weight: 600;
    font-size: 16px;
}
a.message-subject{
	width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    float: left;
}
    ul.message-listing li{
      margin-bottom: 10px;
    }
    ul.message-listing li b{
      display: block;
    }
</style>
