<div class="container" ng-app="message" ng-controller="messageController">
    <!-- Modal Send Message-->
    <div id="message-modal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'trainer:detail' 1 %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Type your message:</label>
                            {{message_form.message}}
                            {{message_form.message.errors}}
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Contact Number:</label>
                                {{message_form.phone}}
                                {{message_form.phone.errors}}
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Email:</label>
                                {{message_form.email}}
                                {{message_form.email.errors}}
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-link">Cancel</button>
                            <!--<button class="btn btn-message" ng-click="sendMsg()">-->
                            <button class="btn btn-message">
                                Send
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
