<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="message" ng-controller="messageController">
    <strong>Angular</strong>
    <form ng-submit="readMessage()">
        <input type="text" ng-model="inputMessage" placeholder="Type your message here">
        <input type="submit" value="Submit">
    </form>
    <br>
    <div ng-repeat="msg in messageList">
        <span ng-bind="msg.msgText"></span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
</body>
</html>